# --------------------
# Python
# --------------------
__pycache__/
*.pyc
venv/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Pulumi
# --------------------
*.stack.yaml
Pulumi.*.json
infra/urns.txt
