# --------------------
# Python
# --------------------
__pycache__/
*.pyc
venv/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Pulumi
# --------------------
*.stack.yaml
Pulumi.*.json
infra/urns.txt

# local debug artifacts
body*.json
messages*.json
taskdef*.json
newtaskdef*.json
inference-profiles*.json
bedrock-*.json
test_bedrock*.py

